
.bg {
    position: fixed;
}

.bg ul li {
    position: absolute;
    list-style: none;
}

/* --- diamonds --- */

.diamond4 {
    filter: blur(2px);
}

.diamond4 li {
    top: 0vh;
    left: 0vw;
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    width: 22px;
    height: 22px;
    background-color:#5a0085;/*#54258a;*/
    text-align: center;
    transform: scale(0, 1);
    animation: square 10s linear infinite;
    animation-delay: calc(0.5s * var(--i))
}

.diamond4 li:nth-child(10) {
    top: 5vh;
    left: 85vw;
}

.diamond4 li:nth-child(9) {
    top: 15vh;
    left: 55vw;
  }
  
.diamond4 li:nth-child(8) {
    top: 25vh;
    left: 25vw;
  }
  
.diamond4 li:nth-child(7) {
    top: 15vh;
    left: 75vw;
  }
  
.diamond4 li:nth-child(6) {
    top: 5vh;
    left: 45vw;
}
.diamond4 li:nth-child(5) {
    top: 15vh;
    left: 95vw;
}
.diamond4 li:nth-child(4) {
    top: 5vh;
    left: 5vw;
}
.diamond4 li:nth-child(3) {
    top: 15vh;
    left: 35vw;
  }
  
.diamond4 li:nth-child(2) {

    top: 25vh;
    left: 65vw;
  }
.diamond4 li:nth-child(1) {
    top: 15vh;
    left: 15vw;
}

.diamond3 li {
    top: 0vh;
    left: 0vw;
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    width: 30px;
    height: 30px;
    background-color:#de3d11;
    text-align: center;
    transform: scale(0, 1);
    animation: square 7s linear infinite;
    animation-delay: calc(0.6s * var(--i))
    
}

.diamond3 li:nth-child(1) {
    top: 10vh;
    left: 30vw;
}

.diamond3 li:nth-child(2) {
    top: 10vh;
    left: 10vw;
  }
  
.diamond3 li:nth-child(3) {
    top: 20vh;
    left: 60vw;
  }
  
.diamond3 li:nth-child(4) {
    top: 0vh;
    left: 40vw;
  }
  
.diamond3 li:nth-child(5) {
    top: 10vh;
    left: 90vw;

}
.diamond3 li:nth-child(6) {
    top: 10vh;
    left: 50vw;
}
.diamond3 li:nth-child(7) {
    top: 20vh;
    left: 20vw;

}
.diamond3 li:nth-child(8) {
    top: 10vh;
    left: 70vw;
  }
  
.diamond3 li:nth-child(9) {
    top: 0vh;
    left: 80vw;
  }
.diamond3 li:nth-child(10) {
    top: 0vh;
    left: 0vw;
}

.diamond2 {
    filter: blur(1px);
}

.diamond2 li {
    top: 0vh;
    left: 0vw;
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    width: 72px;
    height: 72px;
    background-color:#e3ac26;
    text-align: center;
    transform: scale(0, 1);
    animation: square 5s linear infinite;
    animation-delay: calc(0.8s * var(--i))
}

.diamond2 li:nth-child(1) {
    top: 15vh;
    left: 30vw;
}

.diamond2 li:nth-child(2) {
    top: 15vh;
    left: 50vw;
  }
  
.diamond2 li:nth-child(3) {
    top: 15vh;
    left: 90vw;
  }
  
.diamond2 li:nth-child(4) {
    top: 15vh;
    left: 10vw;
  }
  
.diamond2 li:nth-child(5) {
    top: 15vh;
    left: 70vw;
}
.diamond2 li:nth-child(6) {
    top: -5vh;
    left: -6vw;
}
.diamond2 li:nth-child(7) {
    top: 35vh;
    left: 60vw;
}
.diamond2 li:nth-child(8) {
    top: -5vh;
    left: 40vw;
  }

.diamond2 li:nth-child(9) {
    top: 35vh;
    left: 20vw;
  }
.diamond2 li:nth-child(10) {

    top: -5vh;
    left: 80vw;
  }

.diamond1 {
    filter: blur(5px) opacity(90%);
}
.diamond1 li {
    top: 0vh;
    left: 0vw;
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    width: 250px;
    height: 250px;
    background-color:#e0d4b6;
    text-align: center;
    transform: scale(0, 1);
    animation: square 4s linear infinite;
    animation-delay: calc(0.9s * var(--i))
}

.diamond1 li:nth-child(1) {
    top: 10vh;
    left: 30vw;
}

.diamond1 li:nth-child(2) {
    top: 0vh;
    left: 50vw;
  }
  
.diamond1 li:nth-child(3) {
    top: 10vh;
    left: 90vw;
  }
  
.diamond1 li:nth-child(4) {
    top: -10vh;
    left: 10vw;
  }
  
.diamond1 li:nth-child(5) {
    top: 0vh;
    left: 70vw;
}
.diamond1 li:nth-child(6) {
    top: -10vh;
    left: -6vw;
}

@keyframes square {
    0% { transform: translateY(0vh) scale(0, 1);}
    5% { transform: translateY(5vh) scale(1); }
    10% { transform: translateY(10vh) scale(0, 1);}
    41% { transform: translateY(40vh) scale(0, 1);}
    45% { transform: translateY(45vh) scale(1); }
    49% { transform: translateY(50vh) scale(0, 1);}
    81% { transform: translateY(80vh) scale(0, 1);}
    85% { transform: translateY(85vh) scale(1); }
    89% {transform: translateY(90vh) scale(0, 1); }
    100% {transform: translateY(100vh) scale(0, 1); }
}