@font-face {
    font-family: my-cool-font;
    src: url(../fonts/the-font-file.woff);
}

:root {
    --green: #00d878;
    --yellow: #ffc003;
    --red: #FF002F;
    --black: black;
    --white: floralwhite;
    --primary: var(--green);
    --background: var(--black);
    --font-color: var(--white)
}

html {
    font-size: 62.5%;
}

body {
    background: var(--background);
    color: var(--font-color);
    font-size: 1.6rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body:has(#button-13 .checkbox:checked) {
    --background: var(--white);
    --font-color: var(--black);
}

a, a:visited { 
    color: #00d878; 
    text-decoration: underline;
}

a:hover {
    color: #ffc003;
}

a:active {
    color: #FF002F;
}

img {
    max-width: 100%;
}
h1 {
    color: #00d878; 
}

em {
    color: #FF002F;
}

main {
    display: flex;
    flex-direction: row;
}

#topbar #color-mode:checked ~ .color-scheme-wrapper {
    background: #181716;
    color: floralwhite; 
}

#topbar {
    background: #00d878;
    max-width: 100%;  
    max-height: 60px; 
    padding: 20px 40px; 
}

.container {
    max-width: 500px;
    margin: 40px;
    border: solid 2px #00d878;
    box-shadow: 6px 6px #187848;
}

#content {
    padding: 15px 40px 30px 40px;
}

.emoji {
    color: transparent;  
    text-shadow: 0 0 0 #00d878;
}

/* Dark Mode Toggle*/ 
.row {
    display: table-row;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 60px;
    box-sizing: border-box;
}

.button-cover {

    margin: 40px 0 0 40px;
    background-color: transparent;
    /*box-shadow: 0 10px 20px -8px #c5d6d6;*/
    border-radius: 4px;
}

/*.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}*/

/*.button-cover,*/
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.button {
    position: relative;
    /*top: 50%;*/
    width: 74px;
    height: 36px;
    /*margin: -20px auto 0 auto; */
    border: solid 2px #00d878;
    box-shadow: 6px 6px #187848;
    overflow: hidden;
}

.button.b2 {
    border-radius: 0px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 13 */
#button-13 .knobs:before,
#button-13 .knobs:after,
#button-13 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-13 .knobs:before {
    font-size: 1.6rem;
    content: "☀️";
    top: 1px;
    left: 3px;
    color: transparent;  
    text-shadow: 0 0 0 #ffc003;
}

#button-13 .knobs:after {
    font-size: 1.6rem;
    content: "🌙";
    top: 1px;
    right: 6px;
    color: transparent;  
    text-shadow: 0 0 0 #00d878;
}

#button-13 .knobs span {
    width: 25px;
    left: 37px;
    background-color: #00d878;
    z-index: 2;
}

#button-13 .checkbox:checked + .knobs span {
    left: 4px;
    background-color: #f44336;
}

#button-13 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}

/**/
