---
// put webring in footer once I make restructured webring stuff
// in the depths of the oubliette webring <span>⮜ prev</span> <span>random</span> <span>next ⮞</span> <span>what's this?</span>
---

<footer>
     <p>
        Designed and developed by Haunted Machine<span></span> 
        <span><a href="#">About</a> <span>|</span> 
        <a href="#">Site Map</a> <span>|</span> 
        <a href="https://github.com/cheesepak" target="_blank">Github</a> <span>|</span> 
        <a href="https://cheesepak.itch.io/" target="_blank">itch.io</a> <span>|</span> 
        <a href="https://oubliettering.neocities.org/" target="_blank">Webring</a></span> 
    </p>
</footer>

<style>
footer {
    /*background-color: #0e0b0085;*/
    color: #eee;
    text-align: center;
    padding: 0px 10px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}
span {
    padding: 0 10px;
}

a {
    color: #de3d11;		
}

a:visited {
    color: #de3d11;
}


a:hover {
    color: #865eec;
}
</style>