---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import DiscordWebhook from '../components/DiscordWebhook.astro';
import DiamondBG from './DiamondBG.astro';
import Footer from './Footer.astro';
---

<main>
	<DiamondBG />
	<div class="wrapper">
		<noscript><p>This website uses javascript for some animation.</p></noscript>

		<div class="glitch" aria-label="hauntedmachine.dev is undergoing a transformation">
			<h1><span>hauntedmachine.dev</span><br />is undergoing<br />a transformation</h1>
		</div>
		<p>Front End Dev + Multidisciplinary Designer</p>
		<!-- <div id="launch-form">
			<form id="form-box">-->
				<!-- ðŸ…— ðŸ…ž ðŸ… ðŸ…” ðŸ…¨ 
				<input class="ohon" autocomplete="off" type="checkbox" id="check" name="check">
				<label for="email"><i>Get notified at launch</i></label><br>
				<input type="email" name="email" id="email" placeholder="yourname@email.com" required>
				<button type="button" id="send">Send</button>
			</form>
			<p id="form-submitted" class="hidden">Thanks for showing interest in hauntedmachine.dev!</p>
		</div>
	</div>
	<DiscordWebhook />-->
	<Footer />
</main>
<style>
	/* Make sure to download this for local access later */
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		color: #eee6db;
		font-family: Roboto, Arial, Helvetica, sans-serif;
	}
	h1 {
		font-size: 42px;
		font-weight: 800;
		font-style: italic;
	}
	h1 span {
		color: #de3d11;
	}
	p {
		font-size: 19px;
		margin-bottom: 60px;
	}

    input,
    textarea,
    select {
        border: 1px solid transparent;
        outline: none;
        border-radius: 10px;
        padding: 10px;
        margin-top: 15px;
        background: #dddddd;
    }

    input:focus, 
    textarea:focus,
    select:focus {
      outline: none;
      background: #ffffff;
		border-color: #54258a;
      box-shadow: 0 0 5px #54258a;
    }

	button {
      color: #ffffff;
      background-color: #54258a;
      padding: 10px 20px;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;
      border: none;
      outline: 0;
      box-shadow: 0 4px 4px 0 #3c335c4b;
      transition-duration: 300ms;
    }
	button:hover {
		background-color: #de3d11;
	}
	
	.ohon {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 0;
		z-index: -1;
	}

	.wrapper {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: -1;
	}

	.glitch {
		max-width: 800px;
		width: 100vw;
	}

	.hidden {
		opacity: 0;
	}

	.show {
		opacity: 1;
	}

	#form-submitted {
		transition-duration: 300ms;
		font-size: 12px;
	}

/*
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
		*/
</style>

<script>
	import { VFX } from "@vfx-js/core";
	const effect = document.querySelector('.glitch');

	const vfx = new VFX();
	vfx.add(effect, { shader: "pixelateTransition" });
</script>